.jumbotron {
    background: #212f3f;
    color: #ff9500;
}

.btn-primary {
    background: #212f3f;
}

.btn-primary:hover {
    background: #ff9500;
}

.answer:hover {
    border: 1px solid black;
}

.answer {
    margin: 10px;
    padding: 10px;
}

.question {
    color: #212f3f;
}